GitKan
GitKan.pub
*.o
*.obj
*.exe
*.sig
*.zig
*.sif
*.zif
*.forest
build/
build_release/
build_mingw/
imgui.ini
track.Forest
*_forestXYZ.txt
CppSLib_Stuff/
gitignore.bak/
Unity/
SSAR_MapTemplate/
**/*_SIF/
*.mtl
*.dds
*.tga
