GitKan
GitKan.pub
*.o
*.obj
*.exe
*.sig
*.zig
*.sif
*.zif
*.forest
build/
build_release/
build_mingw/
imgui.ini
track.Forest
*_forestXYZ.txt
CppSLib_Stuff/
gitignore.bak/
UnityTooling/
_bak/
_bak_previous/
tests/
*.zip
CppSLib.exe
